@use "../tools" as t;

.destination {
  padding: 24px 0;
  display: grid;
  gap: 12px;

  &__headline {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    display: grid;
    gap: 24px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
  }

  &__headline::before {
    content: "01";
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: rgba(255, 255, 255, 0.25);
  }

  @include t.breakpoint(m) {

  }
}
