@use "../tools" as t;

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 16px;

  @include t.breakpoint(m) {
    & {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
  }

  @include t.breakpoint(xl) {
    & {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      column-gap: 30px;
    }
  }
}
