@use "../tools" as t;

.header {
  align-items: center;

  &__logo {
    grid-row: 1;
    grid-column: 1;
    block-size: 40px;
    inline-size: 40px;
  }

  &__nav {
    display: none;
  }

  &__menu {
    grid-row: 1;
    grid-column: -2 / span 1;
    justify-self: end;
    inline-size: 24px;
    block-size: 22px;
    background-color: transparent;
    background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 22"><path fill="%23D0D6F9" d="M0 .5h24v3H0zM0 9.5h24v3H0zM0 18.5h24v3H0z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }

  @include t.breakpoint(m) {
    &__menu {
      display: none;
    }

    &__nav {
      align-self: stretch;
      grid-row: 1;
      grid-column: 2 / -1;
      margin: 0 -40px 0 0;
      padding: 0 40px 0 0;
      display: grid;
      justify-content: end;
      backdrop-filter: blur(80px);
      background: rgba(255, 255, 255, 0.05);
    }

    &__logo {
      block-size: 48px;
      inline-size: 48px;
    }
  }

  @include t.breakpoint(xl) {
    & {
      align-items: end;
    }

    &::after {
      content: "";
      grid-row: 1;
      grid-column: 1 / span 6;
      block-size: 1px;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 0 -30px 48px 10px;
      z-index: 1;
    }

    &__logo {
      margin: 0 0 28px -54px;
    }

    &__nav {
      grid-column: 7 / -1;
      margin: 40px -165px 0 -30px;
      padding: 0 64px 0 0;
    }
  }
}
