@use "../../tools" as t;

.crew-tabs-template {
  min-block-size: 900px;
  display: grid;
  grid-template-rows: auto 10px 500px;
  grid-template-areas:
    "crew-card-header"
    "nav"
    "crew-card-image";
  row-gap: 24px;

  @include t.breakpoint(l) {
    & {
      min-block-size: 750px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 16px 48px;
      grid-template-areas:
        "crew-card-header crew-card-image"
        "nav crew-card-image"
        "... crew-card-image";
      row-gap: 0;
      column-gap: 30px;
    }
  }
}
