@use "../../tools" as t;

.home-page-hero {
  align-items: center;
  justify-items: center;

  @include t.breakpoint(m) {
    & {
      padding: 88px 0;
      gap: 64px;
    }
  }

  @include t.breakpoint(l) {
    & {
      padding: 369px 0 80px;
    }
  }
}
