@use "../../tools/index" as t;

.main {
  padding: 24px 0;

  @include t.breakpoint(m) {
    & {
      padding: 40px 0;
    }
  }

  @include t.breakpoint(l) {
    & {
      padding: 48px 0;
    }
  }
}
