.planet-tabs__nav-link {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #d0d6f9;
  display: grid;
  align-content: space-between;

  &::after {
    content: "";
    padding: 3px 0 0;
    background: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 0 100%;
    transition: background-size 300ms;
  }

  &[data-active="true"]::after {
    background-size: 100% 100%;
  }

  @media (hover: hover) {
    &:hover {
      color: #fff;
    }
  }
}
