@use "../../tools" as t;

.planet-tabs__image {
  grid-area: image;
  padding: 24px 0;
  display: grid;
  place-items: center;

  & img {
    block-size: auto;
    inline-size: 150px;
    object-fit: cover;
    object-position: center;
  }

  @include t.breakpoint(m) {
    & {
      padding: 42px 0;
    }

    & img {
      inline-size: 300px;
    }
  }

  @include t.breakpoint(l) {
    & {
      padding: 0;
    }

    & img {
      inline-size: min(100%, 480px);
    }
  }
}
