@use "../../tools" as t;

.planet-tabs__card {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid: subgrid / subgrid;

  &[data-active="false"] {
    display: none;
  }

  @include t.breakpoint(l) {
    & {
      align-items: center;
    }
  }
}
