@use "../../tools/index" as t;

.page {
  padding: 0 24px;
  min-block-size: 100dvh;
  max-inline-size: 1920px;
  margin-inline: auto;
  background-color: #0b0d17;

  @include t.breakpoint(l) {
    & {
      padding: 0 40px;
    }
  }

  @include t.breakpoint(xl) {
    & {
      padding: 0 165px;
    }
  }
}
