.main-nav__item {
  counter-increment: counter 1;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 12px;

  &::before {
    grid-column: 1;
    grid-row: 1;
    content: counter(counter, decimal-leading-zero);
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.17em;
    color: #fff;
  }
}
