@use "../../tools" as t;

.crew-page-hero__headline {
  font-size: clamp(
    t.rem(16),
    0.7359154929577465rem + 1.1267605633802815vw,
    t.rem(28)
  );
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 24px;

  &::before {
    content: "02";
    opacity: 0.25;
  }

  @include t.breakpoint(m) {
    & {
      justify-content: start;
    }
  }
}
