@use "../../tools" as t;

.header__menu {
  grid-column: 2 / -1;
  grid-row: 1;
  justify-self: end;
  inline-size: 24px;
  block-size: 22px;
  background-color: transparent;
  background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 22"><path fill="%23D0D6F9" d="M0 .5h24v3H0zM0 9.5h24v3H0zM0 18.5h24v3H0z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;

  @include t.breakpoint(m) {
    & {
      display: none;
    }
  }
}
