@use "../../tools" as t;

.planet-tabs-template {
  display: grid;
  grid-template-rows: auto 32px auto;
  grid-template-areas:
    "planet-card-image"
    "nav"
    "planet-card-content";
  gap: 24px;

  @include t.breakpoint(l) {
    & {
      grid-template-columns: 48% 78px 1fr 48px;
      grid-template-rows: 32px 1fr;
      grid-template-areas:
        "planet-card-image ... nav ..."
        "planet-card-image ... planet-card-content ...";
      row-gap: 40px;
      column-gap: 0;
      justify-content: center;
    }
  }
}
