@use "../../tools" as t;

.planet-card__info {
  text-align: center;
  display: grid;
  gap: 24px;

  @include t.breakpoint(m) {
    & {
      grid-auto-flow: column;
    }
  }

  @include t.breakpoint(l) {
    & {
      text-align: left;
    }
  }
}
