@use "../../tools" as t;

.crew-tabs {
  display: grid;
  grid-template-rows: auto 24px 10px 32px auto;
  grid-template-areas:
    "content"
    "..."
    "nav"
    "..."
    "image";
  gap: 24px;

  @include t.breakpoint(l) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr) 116px;
    grid-template-areas:
      "content image"
      "nav image";
    justify-items: start;
    gap: 30px;
  }
}
