@use "../../tools" as t;

.crew-tabs__title {
  display: grid;
  gap: 16px;

  & > span {
    font-family: var(--second-family), sans-serif;
    font-weight: 400;
    font-size: clamp(
      t.rem(24),
      0.795774647887324rem + 3.004694835680751vw,
      t.rem(56)
    );
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  & > span:first-of-type {
    font-size: clamp(
      t.rem(18),
      0.8169014084507042rem + 1.3145539906103285vw,
      t.rem(32)
    );
    opacity: 0.5;
  }

  @include t.breakpoint(l) {
    & > span {
      text-align: left;
    }
  }
}
